/* |========================================{ Version Original }========================================| */

/* |==== { Page de login } ====| */

.BackendLogin_container_logo {
    display: flex;
    justify-content: center;
}

.LogoLogin {
    width: 300px;
}

.BackendLogin_container_page{
    width: 100%;
    height:95vh;
}

.BackendLogin_container {
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.BackendLogin_container_login {
    width: 20%;
}

.BackendLogin_background_login {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: rgba(214, 214, 214, 0.80);
    border-top-left-radius: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
}

.BackendLogin_box_password, .BackendLogin_box_email {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 8vh;
}

#BackendLogin_not_password, #BackendLogin_not_email {
    display: none;
    position: absolute;
    top: 0px;
    color: #ff4d4d;
    right: 4%;
    transform-origin: 50% 50%;
}

.BackendLogin_input_email {
    width: 90%;
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: #84429A;
    border: none;
    border-bottom: solid 1px #84429A;
    outline: none;
}

.BackendLogin_input_password {
    width: 80%;
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: #84429A;
    border: none;
    border-bottom: solid 1px #84429A;
    outline: none;
}

.BackendLogin_oeil_password, .BackendLogin_oeilFerme_password {
    width: 30px;
    height: 30px;
    margin-left: 2%;
    cursor: pointer;
}

.BackendLogin_oeil_password {
    display: none;
}

.BackendLogin_SendBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackendLogin_button {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
    color: #84429A;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 50%;
    background: none;
    margin-bottom: 3%;
}

    .BackendLogin_button:hover {
        letter-spacing: 2px;
    }

.BackendLogin_h3 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 18px;
}

/* |========================================{ Version 2560px }========================================| */

@media all and (min-width: 1920px) and (max-width: 2560px) {
    .LogoLogin {
        width: 400px;
    }

    .BackendLogin_h3{
        font-size: 22px;
    }

    .BackendLogin_box_email, .BackendLogin_box_password {
        height: 5vh;
    }

    .BackendLogin_button{
        font-size: 30px;
        margin-bottom: 3%;
    }
}

/* |========================================{ Version Mobile }========================================| */

@media all and (min-width: 320px) and (max-width: 1040px) {

    .BackendLogin_container_logo {
        display: flex;
        justify-content: center;
        border: solid 1px red;
    }

    .LogoLogin {
        width: 250px;
    }

    .BackendLogin_container_page {
        border: solid 1px green;
    }

    .BackendLogin_container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: solid 1px red;
    }

    .BackendLogin_container_login {
        border: solid 1px red;
    }

    .BackendLogin_background_login {
        background: rgba(214, 214, 214, 0.80);
        border-top-left-radius: 5px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 5px;
        border: solid 1px red;
    }

    .BackendLogin_box_password, .BackendLogin_box_email {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: solid 1px red;
    }

    #BackendLogin_not_password, #BackendLogin_not_email {
        display: none;
        position: absolute;
        top: 0px;
        color: #ff4d4d;
        right: 4%;
        transform-origin: 50% 50%;
    }

    .BackendLogin_input_email {
        background: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.1rem;
        color: #84429A;
        border: none;
        border-bottom: solid 1px #84429A;
        outline: none;
    }

    .BackendLogin_input_password {
        background: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.1rem;
        color: #84429A;
        border: none;
        border-bottom: solid 1px #84429A;
        outline: none;
    }

    .BackendLogin_oeil_password, .BackendLogin_oeilFerme_password {
        width: 30px;
        height: 30px;
        margin-left: 2%;
        cursor: pointer;
    }

    .BackendLogin_oeil_password {
        display: none;
    }

    .BackendLogin_SendBox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .BackendLogin_button {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 15px;
        color: #84429A;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        width: 50%;
        background: none;
        margin-bottom: 3%;
    }

        .BackendLogin_button:hover {
            letter-spacing: 2px;
        }

    .BackendLogin_h3 {
        text-align: center;
        margin-bottom: 5%;
        font-size: 18px;
    }
}