/* |========================================{ Version Original }========================================| */

.Footer_container {
    width: 100%;
    height: 5vh;
    background-color: #99A3A4;
    bottom: 0;
    left: 0;
}

.Footer_container_info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.Footer_img_euro {
    width: 42px;
    height: 42px;
    margin-right: 2%;
}

.Footer_text_info {
    margin-right: 2%;
    font-size: 20px;
}

#Footer_text_info1 {
    width: 13%;
}

#Footer_text_info2 {
    width: 5%;
}

#Footer_text_info3 {
    width: 10%;
}

.Footer_link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

    .Footer_link:hover {
        text-decoration: underline;
        font-weight: bold;
    }