/* |========================================{ Version Original }========================================| */

/* |==== { Formulaire }====| */

.CommandeEncre_container_aboutme {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CommandeEncre_container_aboutdevice {
    width: 100%;
    margin-top: 3%;
}

.CommandeEncre_ids, .CommandeEncre_counters, .CommandeEncre_Cartridges {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    position: relative;
}

.CommandeEncre_Cartridges {
    height: 15vh;
}

.CommandeEncre_container_Names, .CommandeEncre_container_contact {
    width: 100%;
    display: flex;
    align-items: center;
}

.CommandeEncre_p {
    color: #84429A;
    font-weight: bold;
    font-size: 20px;
}

.CommandeEncre_container {
    position: relative;
    width: 100%;
}

.CommandeEncre_container_Form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: whitesmoke;
    display: grid;
    margin-bottom: 3%;
}

.CommandeEncre_form {
    width: 45vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #84429A;
    border-top-left-radius: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
    background-color: #aca9a8;
    padding: 0 30px 10px;
    margin-top: 3%;
    box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.637);
}

.CommandeEncre_container_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.CommandeEncre_container_sub_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.CommandeEncre_imgInks {
    width: 70px;
    height: 70px;
    margin-left: 2%;
}

.CommandeEncre_imgSubtitle {
    width: 60px;
    height: 60px;
    margin-right: 2%;
}

/* |==== { Style des inputs } ====| */
.CommandeEncre_input,
.CommandeEncre_textarea {
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: #84429A;
    border: none;
    border-bottom: solid 1px #84429A;
    outline: none;
}

    .CommandeEncre_input::placeholder,
    .CommandeEncre_textarea::placeholder {
        color: whitesmoke;
    }

/* |==== { Taille des inputs } ====| */

.CommandeEncre_input {
    padding: 24px 0 12px;
    width: 100%;
    text-align: center;
}

.CommandeEncre_textarea {
    height: 10vh;
    width: 100%;
}

#CommandeEncre_firstName, #CommandeEncre_lastName, #CommandeEncre_email, #CommandeEncre_phone, #CommandeEncre_company, #CommandeEncre_ref, #CommandeEncre_serialNumber, #CommandeEncre_message, #CommandeEncre_black, #CommandeEncre_yellow, #CommandeEncre_magenta, #CommandeEncre_cyan {
    position: relative;
}

#CommandeEncre_message {
    width: 100%;
    position: relative;
    margin-top: 2%;
}

.CommandeEncre_SendBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

/* |==== { Petits INPUTS } ====| */
.CommandeEncre_box_LastName, .CommandeEncre_box_firstName, .CommandeEncre_box_company, .CommandeEncre_box_phone,
.CommandeEncre_box_ref, .CommandeEncre_box_serialNumber, .CommandeEncre_box_InkCounter, .CommandeEncre_box_InkCartridges {
    width: 30%;
    position: relative;
    margin-right: 3%;
}

/* |==== { Moyen INPUTS } ====| */
.CommandeEncre_box_email {
    width: 65%;
    position: relative;
    margin-right: 3%;
}

/* |==== { Grand INPUTS } ====| */
.CommandeEncre_box_message, .CommandeEncre_box_location {
    width: 100%;
    position: relative;
    margin-top: 3%;
}

.CommandeEncre_textarea {
    resize: none;
}

/* |==== { Messages Erreurs } ====| */
#CommandeEncre_not_firstName, #CommandeEncre_not_lastName, #CommandeEncre_not_email, #CommandeEncre_not_phone, #CommandeEncre_not_company,
#CommandeEncre_not_ref, #CommandeEncre_not_serialNumber,
#CommandeEncre_not_counter1, #CommandeEncre_not_counter2, #CommandeEncre_not_counter3, #CommandeEncre_not_counter4,
#CommandeEncre_not_blackCartridges, #CommandeEncre_not_yellowCartridges, #CommandeEncre_not_magentaCartridges, #CommandeEncre_not_cyanCartridges, #CommandeEncre_not_Cartridges,
#CommandeEncre_not_message {
    display: none;
    position: absolute;
    top: 4px;
    color: #ff4d4d;
    right: 0;
    transform-origin: 50% 50%;
}

@keyframes dongle {
    0% {
        transform: translate(0px, 0px);
    }

    10% {
        transform: translate(-10px, 0px);
    }

    20% {
        transform: translate(10px, 0px);
    }

    30% {
        transform: translate(-10px, 0px);
    }

    40% {
        transform: translate(10px, 0px);
    }

    50% {
        transform: translate(-10px, 0px);
    }

    60% {
        transform: translate(10px, 0px);
    }

    70% {
        transform: translate(-10px, 0px);
    }

    80% {
        transform: translate(10px, 0px);
    }

    90% {
        transform: translate(-10px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.error::placeholder {
    color: #ff4d4d;
}


/* |==== { Bouton d'envois + Message d'envois } ====| */

.CommandeEncre_button {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    background: none;
}

    .CommandeEncre_button:hover {
        letter-spacing: 2px;
    }

.CommandeEncre_form_message {
    margin-top: 3%;
    padding: 5px;
    transition: 0.2s ease;
    color: white;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
}
