/* |========================================{ Version Original }========================================| */

/*/====={ GLOBAL }=====/*/
body {
    background-color: #F2F2F2;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.text_important {
    font-weight: bold;
}

#root {
    border: 0;
    padding: 0;
    margin: 0;
}

/*/====={ HERO BANNER }=====/*/
.Home_hero_banner {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_hereo_Test {
    width: 1920px;
    height: 965px;
    fill: none;
}

.Home_hero_bubles1, .Home_hero_bubles2, .Home_hero_bubles3 {
    position: absolute;
    width: 8%;
    border-radius: 30px;
    font-weight: bold;
    border: solid 1px black;
    text-align: center;
    padding: 5px;
    font-family: "FuturND";
    color: black;
    transition: all 0.3s;
    cursor: pointer;
}

    .Home_hero_bubles1:hover, .Home_hero_bubles2:hover, .Home_hero_bubles3:hover {
        background-color: #84429A;
        color: white;
    }

.Home_hero_bubles1 {
    top: 22%;
    left: 77%;
    transform: rotate(35deg)
}

.Home_hero_bubles2 {
    top: 29%;
    left: 85%;
    transform: rotate(0deg)
}

.Home_hero_bubles3 {
    top: 19%;
    left: 85%;
    transform: rotate(-45deg)
}

.Home_hereo_Test {
    z-index: -2;
}

.Home_hero_bigTitle {
    top: 16%;
    position: absolute;
    font-size: 100px;
    color: #9115A9;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px #fff;
    font-family: "FuturND";
}

.Home_hero_text {
    left: 16%;
    bottom: 35%;
    width: 40%;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
    font-family: "FuturND";
}

.Home_hero_button {
    position: absolute;
    background-color: #84429A;
    font-weight: bold;
    color: white;
    font-family: "FuturND";
    padding: 5px 5px;
    border-radius: 5px;
    bottom: 20%;
    left: 16%;
    cursor: pointer;
    width: 10%;
    height: 3vh;
    text-align:center;
    transition: all 0.4s;
}

    .Home_hero_button:hover {
        background-color: white;
        color: #84429A;
        border: solid 1px #84429A;
    }

.Home_img_printer {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 300px;
}

.Home_container_support{
    position: absolute;
    left: 0.5%;
    top: 34%;
}

.Home_background_icons_support, .Home_lien_supportWindows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(214, 214, 214, 0.9);
    border-radius: 5px;
}

.Home_svg_windows{
    cursor: pointer;
}

.Home_container_mac{
    margin-top: 15%;
}
/*/====={ Partie Présentation }=====/*/
.Home_container_for_presentation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_container_presentation_part1, .Home_container_presentation_part2 {
    width: 95%;
    border-radius: 10px;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #581F70;
    margin-bottom: 2%;
}

.Home_presentation_part1 {
    width: 40%;
}

.Home_img_presentation {
    width: 90%;
    height: 90%;
    border-top-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 30px;
    object-fit: fill;
}

.Home_presentation_part2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_container_part2 {
    width: 90%;
    font-family: "FuturND";
}

.Home_container_distributor {
    text-align: center;
}

.Home_container_distributor_logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Home_distributor_logo {
    width: 90px;
    height: 100%;
    object-fit: fill;
}

.Home_distributor_logo_HP {
    width: 50px;
    height: 100%;
    object-fit: fill;
}

/*/====={ Partie Équipe technique }=====/*/


.Home_context_part1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Home_technical_team_part2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Home_img_technical_team {
    width: 80%;
    height: 100%;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
}

.Home_technique_part1_text {
    width: 80%;
    font-size: 18px;
}

/*/====={ Partie Informations supplémentaires}=====/*/
.Home_container_extra_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    font-family: "FuturND";
}

.Home_container_board {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Home_container_title_board {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_choice_board_title {
    margin-right: 2%;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
    color: black;
    padding: 10px 10px;
    border: solid 1px #84429A;
    border-radius: 30px;
}

    .Home_choice_board_title:hover {
        background-color: #84429A;
        color: white;
        border-radius: 30px;
    }

.Home_choice_board_text {
    width: 95%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_container_choice3, .Home_container_choice2, .Home_container_choice1 {
    width: 100%;
}

/*/====={ Partie 1 - Maintenance }=====/*/

.Maintenance_InfoStickers_container {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.Home_container_Maintenance_Stickers_background1 {
    background: rgba(214, 214, 214, 0.9);
    border-top-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    position: relative;
}

.Home_container_Maintenance_Stickers {
    width: 90%;
    height: 90%;
}

.Home_container_all_Maintenance_Stickers_choice1 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

    .Home_container_all_Maintenance_Stickers_choice1 > .Home_container_Maintenance_Stickers_background1 {
        width: calc(40% - 1%); /* Ajustez la largeur en fonction de vos besoins */
        margin-bottom: 3%; /* Espace entre les lignes */
    }

.Home_container_maintenance_price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.Home_Maintenance_Price_Background {
    width: 40%;
    background: #5E17EB;
    border-top-left-radius: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_container_maintenance_more {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 5%;
    position: absolute;
    bottom: 5%;
}

.Home_maintenance_more {
    text-align: center;
    width: 30%;
    background-color: #84429A;
    font-weight: bold;
    color: white;
    font-family: "FuturND";
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

    .Home_maintenance_more:hover {
        background-color: white;
        color: #84429A;
        border: solid 2px #84429A;
    }

.Home_contact_link {
    width: 100%;
    height: 5vh;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Maintenance_InfoStickers_table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Maintenance_InfoStickers_tr {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*/====={ Partie 2 - CONSEIL }=====/*/
.Conseil_InfosStickers_container {
    margin-top: 4%;
}

.Home_container_Conseil_Stickers {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home_logo_stikers {
    width: 50px;
    height: 50px;
}

.Home_logo_Conseil_Stickers_more {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #84429A;
    cursor: pointer;
    padding: 4px;
}

.Home_container_all_Conseil_Stickers_choice2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

    .Home_container_all_Conseil_Stickers_choice2 > .Home_container_Conseil_Stickers_background2 {
        width: calc(50% - 5%); /* Ajustez la largeur en fonction de vos besoins */
        margin-bottom: 3%; /* Espace entre les lignes */
    }

.Home_container_Conseil_Stickers_background2 {
    width: 40%;
    background: rgba(214, 214, 214, 0.9);
    border-top-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_Conseil_Stickers_text {
    width: 80%;
    margin-left: 4%;
}


/*/====={ Partie 2 - CONSEIL / POPUPS }=====/*/
.Home_container_popups_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(214, 214, 214, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Assure que le popup est au-dessus du reste du contenu */
    overflow: hidden; /* Empêche le scroll du contenu principal lorsque le popup est ouvert */
}

.Home_container_popups {
    width: 90%;
    height: 90%;
    position: relative;
    overflow: auto; /* Permet le scroll dans le popup si son contenu dépasse la taille de la fenêtre */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Home_exit_popups {
    position: absolute;
    top: 2%;
    right: 1%;
    cursor: pointer;
    transition: all 0.3s;
}

    .Home_exit_popups:hover {
        transform: scale(1.2);
    }

.Home_choice2_text {
    font-size: 18px;
    text-align:center;
}
/*/====={ Partie 3 - FORMATION}=====/*/
.Home_container_all_stickers_choice3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

    .Home_container_all_stickers_choice3 > .Home_container_stickers_background3 {
        width: 70%; /* Ajustez la largeur en fonction de vos besoins */
        margin-bottom: 3%;
    }

.Home_table_contrats {
    width: 400px;
    text-align: center;
}

.Home_container_stickers_background3 {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(214, 214, 214, 0.9);
    border-top-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_container_stickers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Home_stickers_title {
    text-align: center;
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 20px;
}

.Home_stikers_part1 {
    width: 50%;
    height: 50vh;
    position: relative;
    font-size: 17px;
}

.Home_stikers_part2 {
    width: 40%;
    height: 100%;
}

.Home_stikers_button {
    padding: 5px;
    position: absolute;
    bottom: 5%;
    left: 35%;
    border: solid 2px black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

    .Home_stikers_button:hover {
        border: solid 2px #84429A;
        background-color: #84429A;
        color: white;
    }

.Home_img_formation {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    object-fit: cover;
}
.Home_choice3_text{
    font-size: 18px;
    text-align:center;
}
/*/====={ CUSTOM SCROLL BAR }=====/*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(109,16,127)), color-stop(0.72, rgb(127,18,148)), color-stop(0.86, rgb(145,21,169)));*/
}


/*/====={ CONDITION GENERAL D'UTILISAION }=====/*/
.CGU_container {
    width: 100%;
}

.CGU_ol {
    font-weight: bold;
    font-size: 20px;
    font-family: "FuturND";
    color: #84429A;
}

/*/====={ MENTIONS LEGALES }=====/*/

.MentionLegales_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MentionLegales_text {
    width: 95%;
}

.MentionLegales_h2 {
    font-weight: bold;
    font-size: 25px;
    font-family: "FuturND";
    color: #84429A;
}

/*/====={ ERREUR LIEN }=====/*/

.ErreurLien_container {
    width: 100%;
    height: 100vh;
}

.ErreurLien_container_parts{
    display: flex;
    justify-content:center;
    align-items:center;
}

.ErreurLien_part1 {
    width: 50%;
    height: 81vh;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.ErreurLien_Part2 {
    width: 50%;
    height: 81vh;
}

.ErreurLien_T1 {
    font-size: 50px;
    margin-left: 2%;
    margin-bottom: -10%;
}

.ErreurLien_T2 {
    font-size: 70px;
    margin-bottom: -2%;
    font-weight: bold;
}

.ErreurLien_T3 {
    font-size: 24px;
}

.ErreurLien_ButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ErreurLien_GoHomeButton {
    background-color: #84429A;
    font-weight: bold;
    color: white;
    font-family: "FuturND";
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all 0.4s;
    font-size: 25px;
}

    .ErreurLien_GoHomeButton:hover, .ErreurLien_Link:hover {
        background-color: white;
        color: #84429A;
        border: solid 1px #84429A;
    }

.ErreurLien_img_printer{
    width: 25%;
    position: absolute;
    z-index: 1;
    top: 26%;
    right: 16%;
}

.ErreurLien_Link {
    width: 20%;
    text-decoration:none;
    color: white;
}
/*@media (prefers-reduced-motion: no-preference) {
    .ErreurLien_img_printer {
        animation: ErreurLien_img_printer infinite 10s linear;
    }
}

@keyframes ErreurLien_img_printer {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}*/

.ErreurLien_svg_principal {
    position: relative;
}
.ErreurLien_svg2 {
    position: absolute;
    right: 2%;
    bottom: 3%;
}

.ErreurLien_svg3 {
    position: absolute;
    right: 30%;
    top: 15%;
}
/* |========================================{ Version 2560px }========================================| */
@media all and (min-width: 1920px) and (max-width: 2560px) {
    .Home_hero_bigTitle {
        font-size: 150px;
    }

    .Home_hero_bubles1, .Home_hero_bubles2, .Home_hero_bubles3 {
        font-size: 20px;
    }

    .Home_hero_text {
        font-size: 24px;
        left: 19%;
    }

    .Home_img_printer {
        width: 400px;
    }

    .Home_hereo_Test {
        width: 2560px;
        height: 1335px;
    }

    .Home_hero_button {
        left: 19%;
        bottom: 25%;
        width: 5%;
        height: 2vh;
    }

    .Home_hero_bubles1 {
        top: 22%;
        left: 74%;
        transform: rotate(35deg)
    }

    .Home_hero_bubles2 {
        top: 29%;
        left: 82%;
        transform: rotate(0deg)
    }

    .Home_hero_bubles3 {
        top: 20%;
        left: 81%;
        transform: rotate(-45deg)
    }

    .Home_presentation_part2 {
        font-size: 20px;
    }

    .Home_distributor_logo {
        width: 150px;
        height: 100%;
    }

    .Home_distributor_logo_HP {
        width: 100px;
        height: 100%;
    }

    /*/====={ Partie 1 - Maintenance }=====/*/

    .Home_container_Maintenance_Stickers_background1 {
        height: 30vh;
    }

    .Maintenance_InfoStickers_container {
        font-size: 18px;
    }

    /*/====={ Partie 2 - CONSEIL }=====/*/

    .Home_container_all_Conseil_Stickers_choice2 > .Home_container_Conseil_Stickers_background2 {
        width: calc(35% - 5%); /* Ajustez la largeur en fonction de vos besoins */
        margin-bottom: 3%; /* Espace entre les lignes */
    }

    .Home_Conseil_Stickers_text {
        width: 70%;
    }

    .Home_choice2_text{
        font-size: 20px;
    }

    /*/====={ Partie 3 - FORMATION }=====/*/

    .Home_choice3_text {
        font-size: 20px;
    }
    .Home_stickers_title{
        font-size: 25px;
    }
    .Home_stikers_part1 {
        font-size: 19px;
    }
    .Home_container_stickers, .Home_stikers_part1, .Home_stikers_part2, .Home_img_formation {
        height: 40vh;
    }

    /*/====={ Partie Équipe technique }=====/*/

    .Home_technique_part1_text{
        font-size: 20px;
    }

    .Home_container_presentation_part2{
        height: 35vh;
    }

    .Home_img_technical_team{
        height: 30vh;
    }
}
